html {
  height: 100%;
}

/* Remove Below */

#header a.logo {
  font-size: 35px;
  font-weight: bold;
  color: #014d65;
  padding-top: 12px;
}

#header img.logo {
  width: 80px;
  padding-left: 24px;
  padding-top: 12px;
}

#header {
  height: 81px;
}

#main {
  background-position-y: -10px;
}

#search-field {
  margin: 0px;
}

/*********************/

/*      Sidebar      */

/*********************/

div.sidebar-shell {
  margin: 0 0;
}

div.sidebar-module {
  width: 232px;
}

.content {
  width: 660px;
}

input.search {
  font-size: 12px;
  width: 200px;
  padding: 5px 5px 5px 23px;
  margin-bottom: 8px;
  font-family: Helvetica,Arial,freesans,sans-serif;
  border: 1px solid #DDD;
  border-top-color: #CCC;
  border-bottom-color: #EAEAEA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url(../images/search_icon.png) 5px 50% no-repeat white;
}

h1.FunctionTitle {
  text-overflow: ellipsis;
  overflow: hidden;
}

table.structMembers td,th {
  border: 1px solid black;
  padding: 5px;
}

table.enumTable td,th {
  border: 1px solid black;
  padding: 5px;
}

td.enumMemberName {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 40em;
  white-space: nowrap;
}

td.enumComment {
  max-width: 20em;
}

table.enumTable {
  border-collapse: collapse;
}

table.structMembers {
  border-collapse: collapse;
}

.signatures {
  padding: 10px;
}

.signatures a {
  background: #ddd;
  padding: 4px;
  margin: 0;
  color: #000;
}

.signatures h3 {
  margin: 8px 0;
  margin-top: 0;
}

.signatures ul {
  list-style: none outside none;
  float: left;
}

.signatures ul li {
  list-style: none;
  float: left;
  display: block;
}

h2.fileDataGroup {
  border-bottom: 1px solid #ddd;
}

h3.varGroup {
  border-bottom: 1px solid #eee;
}